h3 { 
   font-family: 'Bangers', cursive;
   font-size: 5em;
   text-align: center;
  
}


.grid {
   display: flex;
   flex-wrap: wrap;
   height: 300px;
   width: 400px;
   margin: auto;
}

#message {
   text-align: center;
   margin-bottom: 60px;
}